.navbar {
  background-color: #2563eb;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
}

/* Responsive */
@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #2563eb;
    padding: 10px;
  }

  .nav-links.open {
    display: flex;
  }
}
